body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  font-size: 19px;
  background-image: url(/public/background/994855e7.png);
}

.content {
  margin: auto;
  width: 60%;
  background: white;
}

section,
.morale {
  width: 50%;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Open Sans";
}

h1 {
  font-size: 40px;
  padding-top: 80px;
}

h2 {
  margin-top: 64px;
  margin-bottom: 32px;
}

.avatar {
  position: absolute;
  right: -180px;
  top: -4px;
}

.image-box {
  display: flex;
}

@media (max-width: 800px) {
  img {
    width: 100px;
    height: 100px;
  }
}

ul {
  list-style-type: none;
}

ul li {
  padding-top: 8px;
}

q {
  font-style: italic;
}

p:last-child {
  margin-bottom: 0;
}

.quoteBlock {
  background: #b69b7f;
  border-radius: 16px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
  box-shadow: 0px 0px 8px 8px rgba(15, 137, 231, 0.1);
}

.avatarLeft {
  position: absolute;
  left: -180px;
  width: 150px;
}

.avatarRight {
  position: absolute;
  right: -180px;
  width: 150px;
}

.materials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding-bottom: 32px;
}

blockquote {
  background: linear-gradient(135deg, #f6eedb 50%, #f4fef9 50%);
  padding-top: 30px !important;
  padding-bottom: 4px !important;
  text-align: center;
  position: relative;
  color: #49152c;
  padding: 30px 50px;
  font-family: "Lato", sans-serif;
}
blockquote p {
  font-size: 19px;
  margin-top: 30px;
  text-align: left;
}
blockquote p:before {
  content: "\201C";
  font-size: 100px;
  color: #ea6844;
  font-family: serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
blockquote cite {
  font-style: normal;
}

footer {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}